* {
	margin: 0;
	padding: 0;
}


.container {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 100vh;    
  
}

.container-card{
  min-width: 400px;
  padding: 50px;
}


/*
.info-container {
  text-align: center;
}*/

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  line-height: 44px;
}

.info-logo {
  width: 44px;
  height: 44px;
  margin-inline-end: 16px;
  vertical-align: top;
}


.info-logo {
  width: 44px;
  height: 44px;
  margin-inline-end: 16px;
  vertical-align: top;
}
.info-logo img {
  width: 100%;
  height: 100%;
}

.info-title {
  position: relative;
  inset-block-start: 2px;
  font-weight: 600;
  font-size: 33px;
}

.info-sub {
  text-align: center;
  margin-block-start: 12px;
  margin-block-end: 40px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
}

.info-button{
  text-align: center;
  padding-bottom: 30px;
}

