* {
	margin: 0;
	padding: 0;
}


.container {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 100vh;    
  
}

.container-card{
  min-width: 400px;
  padding: 50px;
}



/*
.login-container {
  text-align: center;
}*/

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  line-height: 44px;
}

.login-logo {
  width: 44px;
  height: 44px;
  margin-inline-end: 16px;
  vertical-align: top;
}


.login-logo {
  width: 44px;
  height: 44px;
  margin-inline-end: 16px;
  vertical-align: top;
}
.login-logo img {
  width: 100%;
  height: 100%;
}

.login-title {
  position: relative;
  inset-block-start: 2px;
  font-weight: 600;
  font-size: 33px;
}

.login-sub {
  text-align: center;
  margin-block-start: 12px;
  margin-block-end: 40px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
}


